<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="author" content="Denis Samardjiev" />
	<meta name="description" content="LightningBolt - A minimal HTML5 theme"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png"/>
	<link rel="apple-touch-icon" href="apple-touch-icon.png"/>
	<title>Helping Hands Free/Low Cost Resources</title>

	<!-- Stylesheets -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,300,700' rel='stylesheet' type='text/css'/>

	<!-- jQuery Files -->
    <script th:src="@{https://maps.googleapis.com/maps/api/js(v=3.exp, sensor=false)}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/assets/js/maprender.js"></script>

	<!-- Royal Preloader -->
	<link rel="stylesheet" type="text/css" href="/assets/css/royal_preloader.css" />
	<script type="text/javascript" src="/assets/js/royal_preloader.min.js"></script>
	<script type="text/javascript">

		// Change to your image paths
	    var images = {
	    	'slide1':     		'http://aliensix.com/boltdemo/navbar-top/img/slider/slide1.jpg',
	    	'team-member1':     'http://aliensix.com/boltdemo/navbar-top/img/team-member-1.jpg',
	    	'team-member2':     'http://aliensix.com/boltdemo/navbar-top/img/team-member-2.jpg',
	    	'team-member3':     'http://aliensix.com/boltdemo/navbar-top/img/team-member-3.jpg',
	    	'team-member4':     'http://aliensix.com/boltdemo/navbar-top/img/team-member-4.jpg',
	        'branding1':     	'http://aliensix.com/boltdemo/navbar-top/img/projects/branding1.jpg',
	        'branding2':     	'http://aliensix.com/boltdemo/navbar-top/img/projects/branding2.jpg',
	        'branding3':    	'http://aliensix.com/boltdemo/navbar-top/img/projects/branding3.jpg',
	        'print1':  			'http://aliensix.com/boltdemo/navbar-top/img/projects/print1.jpg',
	        'print2':     		'http://aliensix.com/boltdemo/navbar-top/img/projects/print2.jpg',
	        'print3':   		'http://aliensix.com/boltdemo/navbar-top/img/projects/print3.jpg',
	        'web1':   			'http://aliensix.com/boltdemo/navbar-top/img/projects/web1.jpg',
	        'web2':   			'http://aliensix.com/boltdemo/navbar-top/img/projects/web2.jpg',
	        'web3':   			'http://aliensix.com/boltdemo/navbar-top/img/projects/web3.jpg',
	        'branding1thumb':   'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/branding1.jpg',
	        'branding2thumb':   'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/branding2.jpg',
	        'branding3thumb':   'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/branding3.jpg',
	        'print1thumb':   	'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/print1.jpg',
	        'print2thumb':   	'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/print2.jpg',
	        'print3thumb':   	'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/print3.jpg',
	        'web1thumb':   		'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/web1.jpg',
	        'web2thumb':  		'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/web2.jpg',
	        'web3thumb':   		'http://aliensix.com/boltdemo/navbar-top/img/projects/thumbs/web3.jpg',
	        'quote1':     		'http://aliensix.com/boltdemo/navbar-top/img/quote/bg.jpg',
	    };
	 
	    // config
	    Royal_Preloader.config({
	        mode:       'text',
	        images:     images,
	        timeout:    10,
	        showInfo:   false,
	        background: ['#272727']
	    });
	</script>

	<!-- Icon Fonts -->
	<link href='/assets/css/ionicons.min.css' rel='stylesheet' type='text/css' />
    <style type="text/css">
        #map-canvas{
            height: 500px;
        }
    </style>
</head>
<body class="royal_loader" data-spy="scroll" data-target="#myScrollSpy" data-offset="100">

	<!-- Begin Navigation -->
	<div class="navbar navbar-fixed-top">

		<div class="container">

			<div class="navbar-header">
                <p class="navbar-header">Helping Hands Hack</p>

				<!-- Mobile Navigation -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="ion-navicon toggle-icon"></span>
				</button>

			</div>

			<!-- Main Navigation
			<nav class="navbar-collapse collapse navHeaderCollapse" id="myScrollSpy" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#section1" data-id="section1" class="scroll-link">Helping Hands Hack</a></li>
				</ul>
			</nav>-->

		</div>

	</div>
	<!-- End Navigation -->

	<!-- Begin Summary -->
	<section id="section1">
	
		<div class="summary">

			<div class="container">

				<!-- Content -->
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1" >
                        <h3 th:text="${orgName}" data-scroll-reveal="enter left and move 50px over 1.2s" >Our Name</h3>
                        <hr data-scroll-reveal=""/>
                        <div data-scroll-reveal="">
                            <lable id='locationLbl'></lable>
                            <br/>
                            <label for="selDistance">Distance (miles)</label>
                            <select id="selDistance">
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='5'>5</option>
                                <option value='10'>10</option>
                            </select>

                            <label for="selService">Service</label>
                            <select id="selService">
                                <option value='All'>All</option>
                                <option value='Food'>Food</option>
                                <option value='Health'>Health</option>
                                <option value='Child Care'>Child Care</option>
                                <option value='Shelter'>Shelter</option>
                                <option value='Shelter'>Education</option>
                            </select>
                        </div>
                        <div id="map-canvas">
                        </div>
                    </div>
				</div>

			</div>

		</div>

	</section>
	<!-- End Summary -->


	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body"></div>
	        </div> <!-- /.modal-content -->
	    </div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<!-- Begin Footer -->
	<footer id="footer">

		<div class="container">
			
			<!-- Copyright And Social -->
			<div class="col-sm-5">
				<p class="copyright no-margin">Copyright © Bolt - Rights Reserved</p>
			</div>

			<!-- Go To Top -->
			<div class="col-sm-3 text-center">
				<p class="no-margin" style="text-align: center"><span class="ion-ios7-arrow-up up-icon scroll-top" style="display: inline-block;"></span></p>
			</div>

			<!-- Love -->
			<div class="col-sm-4 made-with-love">
				<p class="no-margin">Made with &nbsp;<span class="ion-ios7-heart heart-icon"></span>&nbsp; in Las Vegas.</p>
			</div>

		</div>

	</footer>
	<!-- End Footer --> 

	<!-- Javascript Files -->
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.mixitup.min.js"></script>
	<script type="text/javascript" src="/assets/js/portfolio.js"></script>
	<script type="text/javascript" src="/assets/js/navbar.js"></script>
	<script type="text/javascript" src="/assets/js/ticker.js"></script>
	<script type="text/javascript" src="/assets/js/modal-fix.js"></script>
	<script type="text/javascript" src='/assets/js/skrollr.min.js'></script>
	<script type="text/javascript" src='/assets/js/start-skrollr.js'></script>	
	<script type="text/javascript" src='/assets/js/scrollReveal.js'></script>
	<script type="text/javascript">
		window.scrollReveal = new scrollReveal();
		//activate scrollReveal.js
	</script>
</body>
</html>